
  <i class="bi bi-person-bounding-box fs-5"></i>
  <div class="dropdown-menu">
    <div class="dropdown-header">
      <div class="fw-semibold">{{ userName }}</div>
      <small class="text-muted">{{ userEmail }}</small>
    </div>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">
      <i class="bi bi-person me-2"></i>My Account
    </a>
    <a class="dropdown-item " href="#">
      <i class="bi bi-gear me-2"></i>Settings
    </a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item text-danger" href="#">
      <i class="bi bi-box-arrow-right me-2"></i>Logout
    </a>
  </div>

